asgiref==3.7.2
Django==4.2.4
django-multi-form-view==2.0.1 _not currently used._
Pillow==10.0.1
reportlab==4.0.5 _not currently used_
six==1.16.0  _not currently used, required for multi-form-view to work_
sqlparse==0.4.4
tzdata==2023.3 
